version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: pg_auto
    environment:
      POSTGRES_DB: auto_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234

    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  flyway:
    image: flyway/flyway
    depends_on:
      postgres:
        condition: service_healthy
    command:
      - "migrate"
      - "-baselineOnMigrate=true"
    volumes:
      - ./flyway-migration:/flyway/sql
    environment:
      FLYWAY_URL: jdbc:postgresql://postgres:5432/auto_db
      FLYWAY_USER: postgres
      FLYWAY_PASSWORD: 1234
      FLYWAY_BASELINE_VERSION: 1
      FLYWAY_BASELINE_DESCRIPTION: "Initial baseline"
      FLYWAY_SCHEMAS: autoservice_schema


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: vinogradovdima123456789@gmail.com
      PGADMIN_DEFAULT_PASSWORD: 1234
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pg_data:
